html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  
}


#typeBox {
    height: 35px;
    width: 40%;
    text-align: center;
}

#printAdd{
    padding: 10px 25px;
}



#myList li{
    list-style: none; 
    position: relative;

}

#myList li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    background-image: url(../img/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}

#myList li.checked{
    color:#555;
    text-decoration: line-through;
}

#myList li.checked::before{
    background-image: url(../img/checked.png);
}